<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>CPay</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap.min.css}"/>
  <!-- Font Awesome -->
  <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}"/>
  <!-- Ionicons -->
  <link rel="stylesheet" th:href="@{/Ionicons/css/ionicons.min.css}"/>
  <!-- Theme style -->
  <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
  <!-- iCheck -->
  <link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <b>CPay</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Combo Pay 後台 - 登入</p>
    <div th:if="${msgError != null}" class="alert alert-danger"><span th:text="${msgError}"></span></div>
	<div th:if="${msgInfo != null}" class="alert alert-info"><span th:text="${msgInfo}"></span></div>

    <form th:action="@{/login}" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" id="username" name="username" placeholder="Account" required="required"/>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4" style="float:right;">
          <button type="submit" class="btn btn-primary btn-block btn-flat">登入</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script th:src="@{/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
<script>

setTimeout(function() {
    $('.alert').fadeOut('slow');
}, 3000);

</script>
</body>
</html>
