<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CPay</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap.min.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}"/>
    <!-- Ionicons -->
    <link rel="stylesheet" th:href="@{/Ionicons/css/ionicons.min.css}"/>
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/datatables/datatables.net-bs/css/dataTables.bootstrap.min.css}"/>
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-datepicker.css}"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>|
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<!-- main header -->
    <header class="main-header" th:include="/console/include/header :: main_Header"/>
    
    <!-- Left side column. contains the logo and sidebar -->
  	<aside class="main-sidebar" th:include="/console/include/menu :: main_menu"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                第三方支付設定
                <small>新增</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active"><a href="#">第三方支付設定</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- 獎品新增 Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">第三方支付新增</h3>
                        </div>
                        <div th:if="${msgError != null}" class="alert alert-danger"><span th:text="${msgError}"></span>
                        </div>
                        <div th:if="${msgInfo != null}" class="alert alert-info"><span th:text="${msgInfo}"></span>
                        </div>
                        <div th:if="${msgSuccess != null}" class="alert alert-success"><span
                                th:text="${msgSuccess}"></span></div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form id="editForm" class="form-horizontal" th:action="@{/console/tpp/add}" method="post">
                            <input type="hidden" id="tppCode" name="tppCode" value=""/>

                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">商家註冊名稱</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="tppName" name="tppName" required="required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">渠道</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="channelType" name="channelType">
                                            <option value="ALI">支付寶</option>
                                            <option value="UNION">雲閃付</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">APP ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="appId" name="appId" required="required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Private Key</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="privateKey" name="privateKey"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-info btn-add pull-right">新增</button>
                                <button type="submit" style="display:none;" class="btn btn-info btn-update pull-right">修改</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">第三方支付商家列表</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tppList" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>商家註冊名稱</th>
                                    <th>渠道</th>
                                    <th>APP ID</th>
                                    <th>Private key</th>
                                    <th>動作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer" th:include="/console/include/footer :: main_footer" />
    
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<div id="tppDelDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">請確認是否刪除</h4>
            </div>
            <div id="delMsg" class="modal-body"></div>
            <input type="hidden" class="form-control" id="tppCodeDel" name="tppcode"/>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                <button id="delTpp" type="button" class="btn btn-danger">是</button>
            </div>
        </div>
    </div>
</div>

<div id="customDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><div id="title"></div></h4>
            </div>
            <div id="msg" style="word-break:break-all;" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>

<!-- ./logout -->
<div id="logoutDialog" class="modal fade" tabindex="-1" role="dialog" th:include="/console/include/logout :: main_logoutDialog"></div>

<!-- jQuery 3 -->
<script th:src="@{/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- DataTables -->
<script th:src="@{/datatables/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/datatables/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-datepicker.js}"></script>
<!-- FastClick -->
<script th:src="@{/fastclick/lib/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script type="text/javascript">
    $(function () {

        msgHandle();

        $('#tppList').DataTable({
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "searching": false,
            "ajax": "/console/tpp/view",
            "columns": [
                {"data": "tppName"},
                {"data": "channelTypeName"},
                {"data": "appId"},
                {
                    "data": function (data, type, val, meta) {
                        var html = '<button type="button" rel="' + data.tppCode + '" privateKey="' + data.privateKey + '" class="pk btn btn-sm btn-primary"><i class="fa fa-key" aria-hidden="true"></i></button>';
                        return html;
                    }
                },
                {
                    "data": function (data, type, val, meta) {
                        var html = '<button type="button" rel="' + data.tppCode + '" class="edit btn btn-sm btn-warning">Edit</button> &nbsp;&nbsp;';
                            html += '<button type="button" rel="' + data.tppCode + '" tppName="' + data.tppName + '" class="del btn btn-sm btn-danger">Delete</button>&nbsp;&nbsp;';
                        return html;
                    }
                }
            ]
        });

        $(document).on('click', '.edit', function (event) {
            var tppCode = $(this).attr("rel");
            $.ajax({
                url: '/console/tpp/info',
                type: 'GET',
                data: {
                    tppCode: tppCode
                },
                error: function (xhr) {
                    alert('Ajax request 發生錯誤');
                },
                success: function (tpp) {
                    $('#tppCode').val(tpp.tppCode);
                    $('#tppName').val(tpp.tppName);
                    $('#appId').val(tpp.appId);
                    $('#privateKey').val(tpp.privateKey);
                    $('#notifyUrl').val(tpp.notifyUrl);
                    $('#channelType option[value=' + tpp.channelType + ']').attr('selected', 'selected');

                    $('.btn-add').hide();
                    $('.btn-update').show();
                }
            });
        });

        $(document).on('click', '.del', function (event) {
            var tppCode = $(this).attr("rel");
            var tppName = $(this).attr("tppName");

            $("#delMsg").html("<span>刪除 <b>" + tppName + "</b> ?</span>");
            $("#tppCodeDel").val(tppCode);
            $("#tppDelDialog").modal('show');
        });

        $(document).on('click', '.pk', function (event) {
            var msg = $(this).attr("privateKey");

            $("#title").html("Private Key");
            $("#msg").html(msg);
            $("#customDialog").modal('show');
        });

        $(document).on('click', '#delTpp', function (event) {

            $.ajax({
                url: '/console/tpp/del',
                type: 'GET',
                data: {
                    tppCode: $("#tppCodeDel").val()
                },
                error: function (xhr) {
                    alert('Ajax request 發生錯誤');
                },
                success: function (data) {
                    $("#tppDelDialog").modal('hide');
                    $("#tppList").DataTable().ajax.reload();
                }
            });
        });

        $(document).on('click', '#logoutBtn', function (event) {
            $.ajax({
                url: '/logout',
                type: 'GET',
                success: function (user) {
                    console.log("logout success");
                    $("#logoutDialog").modal('hide');
                    location.href = "/"
                }
            });
        });
    })

    function msgHandle() {
        setTimeout(function () {
            $('.alert').hide('slow');
        }, 3000);
    }

    function logout() {
        $("#logoutDialog").modal('show');
    }

</script>
</body>
</html>
