<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CPay</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap.min.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}"/>
    <!-- Ionicons -->
    <link rel="stylesheet" th:href="@{/Ionicons/css/ionicons.min.css}"/>
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/datatables/datatables.net-bs/css/dataTables.bootstrap.min.css}"/>
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-datepicker.css}"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>|
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<!-- main header -->
    <header class="main-header" th:include="/console/include/header :: main_Header"/>
    
    <!-- Left side column. contains the logo and sidebar -->
  	<aside class="main-sidebar" th:include="/console/include/menu :: main_menu"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                交易紀錄
                <small>查詢</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active"><a href="#">交易查詢</a></li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">交易紀錄列表</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tppList" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>訂單編號</th>
                                    <th>商家註冊名稱</th>
                                    <th>渠道</th>
                                    <th>商家訂單編號</th>
                                    <th>第三方支付訂單編號</th>
                                    <th>訂單標題</th>
                                    <th>交易金額</th>
                                    <th>訂單狀態</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer" th:include="/console/include/footer :: main_footer" />
    
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- ./logout -->
<div id="logoutDialog" class="modal fade" tabindex="-1" role="dialog" th:include="/console/include/logout :: main_logoutDialog"></div>

<!-- jQuery 3 -->
<script th:src="@{/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- DataTables -->
<script th:src="@{/datatables/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/datatables/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-datepicker.js}"></script>
<!-- FastClick -->
<script th:src="@{/fastclick/lib/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script type="text/javascript">
    $(function () {

        msgHandle();

        $('#tppList').DataTable({
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "searching": false,
            "ajax": "/console/trx/view",
            "columns": [
                {"data": "trxCode"},
                {"data": "tppName"},
                {"data": "channelTypeName"},
                {"data": "merOrderNo"},
                {"data": "tppTransactionId"},
                {"data": "productId"},
                {"data": "totalAmount"},
                {"data": "trxStatus"}
            ]
        });


        $(document).on('click', '#logoutBtn', function (event) {
            $.ajax({
                url: '/logout',
                type: 'GET',
                success: function (user) {
                    console.log("logout success");
                    $("#logoutDialog").modal('hide');
                    location.href = "/"
                }
            });
        });
    })

    function msgHandle() {
        setTimeout(function () {
            $('.alert').hide('slow');
        }, 3000);
    }

    function logout() {
        $("#logoutDialog").modal('show');
    }

</script>
</body>
</html>
