<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CPay</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap.min.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}"/>
    <!-- Ionicons -->
    <link rel="stylesheet" th:href="@{/Ionicons/css/ionicons.min.css}"/>
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/datatables/datatables.net-bs/css/dataTables.bootstrap.min.css}"/>
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-datepicker.css}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>|
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
</head>
<body>
<div class="wrapper">
    <section class="content-header">
        <h1>
            CPay 支付平台
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- 獎品新增 Form -->
                <div class="box box-info">
                    <div th:if="${msgError != null}" class="alert alert-danger"><span th:text="${msgError}"></span>
                    </div>
                    <div th:if="${msgInfo != null}" class="alert alert-info"><span th:text="${msgInfo}"></span>
                    </div>
                    <div th:if="${msgSuccess != null}" class="alert alert-success"><span
                            th:text="${msgSuccess}"></span></div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form id="editForm" class="form-horizontal" th:action="@{/payment/pay}" method="post">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width:50%">金額</th>
                                        <td>
                                            <p th:text="${amount}"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>訂單說明</th>
                                        <td>
                                            <p th:text="${merOrderNo}"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>訂單說明</th>
                                        <td>
                                            <p th:text="${productId}"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>渠道</th>
                                        <td>
                                            <p th:text="${channelTypeName}"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>QRCode</th>
                                        <td>
                                            <div id="qrcode"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
</div>
<!-- ./wrapper -->
<div id="paySuccessDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">付款成功</h4>
            </div>
            <div class="modal-footer">
                <button id="paySuccessBtn" type="button" class="btn btn-primary">確認</button>
            </div>
        </div>
    </div>
</div>
<!-- jQuery 3 -->
<script th:src="@{/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- DataTables -->
<script th:src="@{/datatables/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/datatables/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-datepicker.js}"></script>
<!-- FastClick -->
<script th:src="@{/fastclick/lib/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<!-- jQuery QR Code -->
<script type="text/javascript" src="http://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script type="text/javascript">
    $(function () {

        msgHandle();
        var amount = "[[${amount}]]";
        var merOrderNo = "[[${merOrderNo}]]";
        var productId = "[[${productId}]]";
        var channelType = "[[${channelType}]]";

        $.ajax({
            url: '/openapi/order',
            type: 'POST',
            data: {
                amount: amount,
                merOrderNo: merOrderNo,
                productId: productId,
                channelType: channelType
            },
            success: function (data) {
                var outTradeNo = data.data.outTradeNo;
                console.log("qrCodeUrl:"+data.data.codeUrl);
                $("#qrcode").qrcode({width: 128,height: 128,text: data.data.codeUrl});

                time=setInterval(function(){

                    $.ajax({
                        url: '/openapi/orderQuery',
                        type: 'POST',
                        data: {
                            outTradeNo: outTradeNo
                        },
                        success: function (data) {
                            if(data.data.trxStatus=="SUCCESS") {
                                console.log("PAY SUCCESS");
                                clearInterval(time);
                                $("#paySuccessDialog").modal('show');
                            }
                        }
                    });
                },3000);
            }
        });

        $(document).on('click', '#paySuccessBtn', function (event) {
            location.href = "/payment/demo"
        });

    })

    function msgHandle() {
        setTimeout(function () {
            $('.alert').hide('slow');
        }, 3000);
    }

</script>
</body>
</html>
